# Ignore Virtual Environment
env

# Dotenv Variables
.env

# Python Cache
__pycache__

# Gecko Driver Logs
geckodriver.log

# CSV file with data
dsl_info.csv

# Ignore docs
docs

# Ignore other code
old-code